[printer]
kinematics: corexy
max_velocity: 350
max_accel: 8000
max_accel_to_decel: 7000
square_corner_velocity: 7
max_z_velocity: 50
max_z_accel: 150

[stepper_y]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 16
rotation_distance: 57.1
#endstop_pin: ^gpio4
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 176
homing_speed: 15

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.7
stealthchop_threshold: 999999
diag_pin: ^gpio4
driver_SGTHRS: 17

[stepper_x]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 16
rotation_distance: 57.1
#endstop_pin: ^gpio3
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 185
homing_speed: 15

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.7
stealthchop_threshold: 999999
diag_pin: ^gpio3
driver_SGTHRS: 20

[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 6.6667
endstop_pin: probe:z_virtual_endstop
position_min: -2.0
position_max: 181
homing_speed: 12

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.22
stealthchop_threshold: 999999

[extruder]
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 4.92
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: gpio21
sensor_type: Generic 3950
sensor_pin: gpio27
control: pid
pid_Kp: 25.12
pid_Ki: 1.073
pid_Kd: 147
min_temp: -100
max_temp: 255
max_extrude_cross_section:2
pressure_advance: 0.18 #0.18
min_extrude_temp: 170
max_extrude_only_distance: 400

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.69
hold_current: 0.4
stealthchop_threshold: 999999

[heater_bed]
heater_pin: gpio23
sensor_type: Generic 3950
sensor_pin: gpio26
pwm_cycle_time: 0.015
max_power: 0.8
control: pid
pid_Kp: 56.852
pid_Ki: 2.1
pid_Kd: 383.75
min_temp: -100
max_temp: 85

[controller_fan mcu_fan]
pin: gpio17
max_power: 0.8
shutdown_speed: 0
#cycle_time: 0.01
kick_start_time: 1
fan_speed: 0.8
idle_timeout: 5
stepper: stepper_x, stepper_y, stepper_z


[heater_fan nozzle_cooling_fan]
pin: gpio20
kick_start_time: 1

[fan]
pin: gpio18
kick_start_time: 1


[mcu]
serial: /dev/ttyAMA0
baud: 250000
restart_method: command

[force_move]
enable_force_move = true

[gcode_macro FORCE_Z_UP]
gcode: FORCE_MOVE STEPPER=stepper_z DISTANCE=30 VELOCITY=40

[virtual_sdcard]
path: ~/gcode_files

[safe_z_home]
home_xy_position: 90,90 # Change coordinates to the center of your print bed
speed: 100
z_hop: 3                # Move up 5mm
z_hop_speed: 5

[probe]
pin: ^gpio25
x_offset:-46
y_offset: -37
z_offset: 0.8
speed: 3
samples: 3
sample_retract_dist: 0.7

[bed_tilt]
points: 
  55,31
  175,31
  175,175
  55,175
speed: 150
horizontal_move_z: 4

[gcode_macro UNLOAD_FILAMENT]
gcode = 
  M83 
  G1 E-30 F1800
  G1 E-100 F1200
  G1 E-100 F1200
  G1 E-100 F1200
  G1 E-100 F1200
  G92 E0
  G90

[gcode_macro LOAD_FILAMENT]
gcode = 
  M83 
  G1 E100 F1200
  G1 E100 F1200
  G1 E100 F1200
  G1 E100 F1200
  G1 E20 F600
  G92 E0
  G90
  



[gcode_macro G29]
gcode = 
  G28
  G1 Z5 F800
	BED_TILT_CALIBRATE

[delayed_gcode my_delayed_gcode]
gcode:
    SET_LED LED=WS2812 RED=0 GREEN=0.05 BLUE=0.01 INDEX=3
    SET_LED LED=WS2812 RED=0.1 GREEN=0.1 BLUE=0.05 INDEX=2
    SET_LED LED=WS2812 RED=0.1 GREEN=0.1 BLUE=0.05 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0 GREEN=0.1 BLUE=0.02 INDEX=3
    SET_LED LED=WS2812 RED=0.2 GREEN=0.2 BLUE=0.1 INDEX=2
    SET_LED LED=WS2812 RED=0.2 GREEN=0.2 BLUE=0.1 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0 GREEN=0.15 BLUE=0.04 INDEX=3
    SET_LED LED=WS2812 RED=0.3 GREEN=0.3 BLUE=0.15 INDEX=2
    SET_LED LED=WS2812 RED=0.3 GREEN=0.3 BLUE=0.15 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0 GREEN=0.2 BLUE=0.05 INDEX=3
    SET_LED LED=WS2812 RED=0.4 GREEN=0.4 BLUE=0.2 INDEX=2
    SET_LED LED=WS2812 RED=0.4 GREEN=0.4 BLUE=0.2 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0 GREEN=0.3 BLUE=0.1 INDEX=3
    SET_LED LED=WS2812 RED=0.5 GREEN=0.5 BLUE=0.25 INDEX=2
    SET_LED LED=WS2812 RED=0.5 GREEN=0.5 BLUE=0.25 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0.6 GREEN=0.6 BLUE=0.3 INDEX=2
    SET_LED LED=WS2812 RED=0.6 GREEN=0.6 BLUE=0.3 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0.7 GREEN=0.7 BLUE=0.35 INDEX=2
    SET_LED LED=WS2812 RED=0.7 GREEN=0.7 BLUE=0.35 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0.9 GREEN=0.9 BLUE=0.45 INDEX=2
    SET_LED LED=WS2812 RED=0.9 GREEN=0.9 BLUE=0.45 INDEX=1
initial_duration: 0.1

[pause_resume]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  G91 E0
  G1 E-1.0 F240
  G92 E0
  G1 X5 Y5 F3000
  G91
  G1 Z25 F800
  G1 Z25 F800
  G1 Z25 F800
  G90

  BASE_CANCEL_PRINT

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F240
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 10.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 10.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F240
  G1 Z{z_safe} F900
  G90
  G1 X{x_park} Y{y_park} F5000

[neopixel WS2812]
pin: gpio24
chain_count: 5
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[display_status] 